'scopeName': 'source.moos'
'name': 'MOOS'
'fileTypes': ['moos', 'bhv']

'patterns': [
    {
        'match': '^.*(//.*)$'
        'name': 'comment.moos'
    },
    {
        'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
        'name': 'constant.numeric.moos'
    },
    {
        'match': '\\b(true|false)\\b'
        'match': 'constant.language.boolean.$1.moos'
    }
    {
        'match': '=',
        'name': 'keyword.operator.moos'
    },
]
